@import "../../lib/bootstrap/2.3.1/css/bootstrap-responsive.min.css";

@import "../../lib/bootstrap/2.3.1/css/bootstrap.min.css";

@import "../../lib/font-awesome/3.0.2/css/font-awesome.min.css";

@import "../../lib/font-awesome/3.0.2/css/font-awesome-ie7.min.css";

@import url('http://fonts.googleapis.com/css?family=Raleway');

@import url('http://fonts.googleapis.com/css?family=Oswald');
html,
body {
  min-height: 100%;
  height: 100%;
}
a {
  color: #31c2ff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #aad6eb;
}
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
}
.clear {
  *zoom: 1;
}
.clear:after,
.clear:before {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
img {
  border: none;
}
img.flexible {
  max-width: 100%;
  height: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
table {
  width: 100%;
}
table td {
  vertical-align: top;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
