@import "../../lib/bootstrap/2.3.1/css/bootstrap.min.css";

@import "../../lib/font-awesome/3.0.2/css/font-awesome.min.css";

@import "../../lib/font-awesome/3.0.2/css/font-awesome-ie7.min.css";

@import url('http://fonts.googleapis.com/css?family=Raleway');

@import url('http://fonts.googleapis.com/css?family=Oswald');

@import url(http://fonts.googleapis.com/css?family=Sanchez);
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
a {
  color: #31c2ff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #aad6eb;
}
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
}
.clear {
  *zoom: 1;
}
.clear:after,
.clear:before {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
img {
  border: none;
}
img.flexible {
  max-width: 100%;
  height: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
table {
  width: 100%;
}
table td {
  vertical-align: top;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: #333333;
}
h1,
h2,
h3,
h4,
h5,
p.lead {
  font-family: 'Sanchez', serif;
}
.topics {
  margin-left: -20px;
  *zoom: 1;
}
.topics:before,
.topics:after {
  display: table;
  content: "";
  line-height: 0;
}
.topics:after {
  clear: both;
}
.topics ul {
  float: left;
  margin-left: 20px;
  width: 140px;
}
#speakers,
#sponsors,
#previous {
  float: left;
  margin-left: 20px;
  width: 300px;
}
#speakers p,
#sponsors p,
#previous p,
#speakers ul,
#sponsors ul,
#previous ul {
  padding-right: 1em;
}
.container {
  width: 960px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px 5px 5px 5px;
  -moz-border-radius: 10px 5px 5px 5px;
  border-radius: 10px 5px 5px 5px;
  border: 2px solid #000000;
  background-color: #eeeeee;
  padding: 2em 0em;
  margin-top: 1em;
}
#oneDay,
#oneTrack,
#oneRoom {
  float: left;
  margin-left: 20px;
  width: 300px;
}
header {
  color: #555555;
  text-align: center;
}
header .container {
  padding-top: 20px;
  background-image: url(http://pix.lyle.troxell.com/photos/i-MFgH4gG/0/XL/i-MFgH4gG-XL.jpg);
  margin-top: 1em;
}
header .container div {
  padding-left: 190px;
}
.imageFill {
  text-align: center;
  background-repeat: no-repeat;
  height: 540px;
  padding: 0px;
}
.saveTheDate {
  height: 90px;
  width: 728px;
}
.inside {
  padding-top: 20px;
  color: black;
  background-image: url(http://pix.lyle.troxell.com/photos/i-BxkFcBR/0/XL/i-BxkFcBR-XL.jpg);
}
.inside h1,
.inside p {
  background-color: #998888;
  opacity: 0.9;
  filter: alpha(opacity=90);
  margin: auto;
}
#tickets {
  float: left;
  margin-left: 20px;
  width: 620px;
}
#sociallinks {
  float: left;
  margin-left: 20px;
  width: 300px;
}
#sociallinks ul {
  list-style-type: none;
  margin-left: 48px;
}
#sociallinks li {
  display: inline-block;
  width: 48px;
  height: 60px;
  vertical-align: top;
}
.sponsors {
  padding: 0px 1em;
}
.sponsors ul {
  margin: auto;
  margin-bottom: 2em;
}
.sponsors ul.plat {
  width: 320px;
}
.sponsors ul.additional {
  float: left;
  margin-left: 140px;
  width: 540px;
  width: 100%;
}
.sponsors ul.additional li {
  float: left;
  margin-left: 20px;
  width: 220px;
  display: block;
  text-align: center;
  border-bottom: none;
}
.sponsors ul.auction li {
  float: left;
  margin-left: 20px;
  width: 300px;
}
.sponsors ul.auction li img {
  float: right;
}
.sponsors h3 {
  clear: both;
  text-align: center;
}
.sponsors li {
  padding: 1em;
}
.sponsors li:last-child {
  border-bottom: none;
}
.sponsors a img.secondary {
  display: none;
}
.sponsors a:hover .primary {
  display: none;
}
.sponsors a:hover .secondary {
  display: block;
}
.sponsors ul.main li {
  display: inline-block;
  list-style: none;
  width: 400px;
  margin: 0px 0px 15px 36px;
}
.sponsors ul.speakerSponsors li {
  display: inline-block;
  list-style: none;
  width: 250px;
  margin: 0px 0px 15px 20px;
}
#footer {
  text-align: center;
  margin-top: 2em;
  background-color: #555555;
  color: black;
}
header .container div.speakers {
  text-align: left;
  display: block;
  position: relative;
  width: 30em;
  padding: .5em;
  float: right;
}
header .container div.speakers a {
  font-size: 130%;
  color: black;
  width: 10em;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}
header .container div.speakers ul {
  margin: 1em 0em;
}
.warn {
  padding: 0px 3em;
}
.speakers .note {
  margin-left: 1em;
}
.speakers section {
  background-color: #ffffff;
  margin: 10px 18px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px 5px 5px 5px;
  -moz-border-radius: 10px 10px 5px 5px 5px;
  border-radius: 10px 10px 5px 5px 5px;
  border: 2px solid #ffffff;
  width: 280px;
  height: 280px;
}
.speakers section a {
  display: block;
  font-size: 1.8em;
  padding: 5px;
  color: #000000;
}
.speakers section h2,
.speakers section a {
  text-align: center;
}
.speakers section div.more {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: white;
  width: 280px;
}
.speakers section p {
  text-align: left;
}
.speakers section:hover div.more {
  display: block;
}
